.login-form { 
    display: grid;
    place-items: center;
    height: 100%;

    label, input {
        display: block;
    }

    button {
        display: block;
        margin-left: auto;
    }

    label, input, button {
        margin-top: 0.5rem;
    }
}
