.login-form {
  display: grid;
  place-items: center;
  height: 100%;

  label,
  input {
    display: block;
    width: 100%;
  }

  button {
    display: block;
    margin-left: auto;
  }

  label,
  input,
  button {
    margin-top: 0.5rem;
  }
}

.row {
  width: 200px;
  margin: 0 auto;
}

.form-error {
  color: red;
}
